.card{
  color: red;
  font-size: 18px;
  font-family: monospace;
}
.card-title{
  font-size: 25px;
}
.syntax-title{
  font-size: 18px;
  color: rgb(221, 8, 8);
}
.card-title #link-icon{
  font-size: 20px;
  color: rgb(15, 29, 233);
  
}
.navbar-brand{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}